*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    color: whitesmoke;
    min-height: 100vh;
}
.skeleton-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 450px;
}
header, footer, main {
    width: 100%;
    text-align: center;
}
header, footer {
    height: 15%;
}
.bot--title{
    font-size: 2rem;
    margin: .8em 0em;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    margin: 1em 0em;
    padding: 1em;
}
.task {
    height: 70px;
}
.bot--url{
    margin: .9em;
    text-align: center;
}
button {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    border: none;
    margin: .9em 0em;
    
    cursor: pointer;
    background-color: rgb(156, 31, 31);
}
button:hover, button:focus {
    border: 1px solid rgb(199, 176, 176);
}
.visit-course{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: auto;
    font-weight: 600;
    line-height: 1.8em;
    text-align: center;
    padding: .9em;
    margin: 0 auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
#fade-icon {
    font-size: 1.5rem;
    color: gray;
}
.course-link {
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    text-align: center;
    display: block;
}
footer {
    font-weight: 600;
    background-color: #2c3e50;
    padding: 2em;
}
footer p {
    margin: 0em;
}